<mat-card>
    <mat-card-title>Update book</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="book.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Reward"
                [(ngModel)]="book.reward" type="number" step="100" name="reward">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateBook()" color="primary">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>