<mat-sidenav-container>
    <mat-sidenav class="container sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">dashboard</i>
                Dashboard
            </a>
            <a mat-list-item>
                <i class="material-icons">books</i>
                Books
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>